################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GestionEmploye/obj
/GestionEmploye/.vs/GestionEmploye/v16
/.vs
